textarea {
    resize: none;
    box-sizing: border-box;
    width: 95%;
}

/*label {
    padding-left: 1em;
    padding-right: 1em;
}*/

table#patient-overview-table tr td:nth-of-type(2){
    width: 80%;
}

table#patient-overview-table tr td input {
    width: 90%;
}

table#patient-overview-table tr td:first {
    width: 20%;
}

fieldset fieldset fieldset{
    display: inline;
};

fieldset fieldset input[type=date] {
    display: block;
}

fieldset {
    margin: 0.25em;
}
fieldset input{
    margin: 0.25em;
}

fieldset fieldset legend {
    font-size: 1em;
}
fieldset fieldset fieldset{
    border-style: none;
}

.mental-health-radio-fieldset-table{
    width: 100%;
}

.mental-health-radio-fieldset-table td:nth-of-type(odd) {
    min-width: 1%;
    width:1%;
    max-width: 1%;
}

.mental-health-radio-fieldset-table td:nth-of-type(even) {
    min-width: 10%;
    width:10%;
    max-width: 10%;
}

table tr:nth-child(even) {
    background: #EEF;
}

/*.mental-health-radio-fieldset-table td:nth-child(even){
    width: 1%;
}
.mental-health-radio-fieldset-table td:nth-child(odd){
    min-width: 10px;
}*/